@import '../../../variables';

.nav-app {
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.9);
    transition: opacity .5s;
    opacity: 0;
    &.is-nav {
      display: initial;
      //opacity:1;
    }
  }

  .nav {
    color:white;
    background: #0e1a35;
    width: 20rem;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left:-22rem;
    transition: left .5s;
    &.is-nav{
      left:0;
    }
    .logo {
      font-weight: bold;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        border-top: 1px solid black;
        float: left;
        list-style-type: none;
        transition: all .5s;
        border-left:3px solid transparent;
        &:hover{
          border-left:3px solid $app-blue ;
          background-color: #122143;

        }
        i {
          color: #4772dc;
        }

      }
    }
  }

}
