

.main{
  width: calc(100% - 40px);
}
.vr{
  position: absolute;
  left:50%;
  width:2px;
  height:50%;
  //background-color: lavender;
  &.up{

    background-color: black;
    &.down{
      background-color: red;
      height:100%;

    }
  }

}
