
.activity{
  padding:0;
}
.main{
  width: calc(100% - 90px);
}
.vr{
  position: absolute;
  left: 50%;
  width: 2px;
  height: 80px;
  z-index: 1;
  top: -37px;
  background-color: lavender;
}
.avatar{
  img{
    z-index: 2;
  }
}
.list-group-item:not(:last-of-type){
  border-bottom: none;

}
.list-group-item:not(:first-of-type){
  border-top: none;

}

