@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
  height: 100%;
  margin: 0 auto;
  background-color: ghostwhite;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

.rol-btn{
  cursor: pointer;
}
.icon-badge{
  position:absolute;
}
.avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color:white;
  &.avatar-small{
    height: 2rem;
    width: 2rem;
  }
  img{
    width:100%;
    border-radius: 50%;

  }
}

.block-border{
  border:1px solid lavender;
}
.block-border-bottom{
  border-bottom:1px solid lavender;
}
.dots-3:after {
    content: '\2807';
    font-size: 2rem;
  }

.flex-grow-1{
  flex-grow: 1;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.flex-grow-2{
  flex-grow: 2;
}

.font-xm{
  font-size:.75rem;
}
.font-sm{
  font-size:1rem;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
