@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/bootstrap/scss/bootstrap";


body, html {
  height: 100%;
  margin: 0 auto;
  background-color: ghostwhite;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

.rol-btn{
  cursor: pointer;
}
.icon-badge{
  position:absolute;
}
.avatar, .header-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 2.7rem;
  width: 2.7rem;
  color:white;
  overflow: hidden;
  &.avatar-small{
    height: 2rem;
    width: 2rem;
  }
  img{
    border-radius: 50%;
    min-height:100%;
    max-height:100%;

  }
}

.block-border{
  border-right:1px solid lavender;
  border-left:1px solid lavender;
  border-top:1px solid lavender;
}
.block-border-bottom{
  border-bottom:1px solid lavender;
}
.dots-3:after {
    content: '\2807';
    font-size: 2rem;
  }

.flex-grow-1{
  flex-grow: 1;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.flex-grow-2{
  flex-grow: 2;
}

.font-xs{
  font-size:.75rem;
}
.font-sm{
  font-size:1rem;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-secondary1{
  color:darkgray;
}
.opacity-05{
  opacity:.5;
}
.list-group-item{
  height: 80px;
}

.block{
  .list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius:0;
  }
}
.z-index-1{
  z-index: 1;
}
